body {
    background: url(https://images.pexels.com/photos/89786/cup-of-coffee-laptop-office-macbook-89786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: left; 
    background-attachment: fixed;
    font-family: 'Times New Roman', serif;

}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

.navbar-inverse {
      background: transparent;
      color: white;
      border-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color: #D84830;
}
.navbar-inverse .navbar-nav>li>a {
  color: #D84830;
} 

#title {
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    font-family: 'Times New Roman', serif;
    padding-top: 35%;
    padding-bottom: 35%
}

#sectionTitle {
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    font-family: 'Times New Roman', serif;
}

#portfolioTitle {
    font-weight: 400;
    font-size: 5em;
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

#text {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 2%; 
    text-align: justify;   
}

#buttons {
    font-family: september, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.whiteSection { 
    background: white;
    color: black;
    padding-top: 3%;
    padding-bottom: 5%;
}

.blackSection { 
    background: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 5%;
}

.portfolioImage {
    height: 270px;
    width: 360px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

.emptySection {
    padding-top: 3%
}

.navbar-fixed-top.scrolled {
  background-color: #221f20 !important;
  transition: background-color 200ms linear;
}

.hoverText {
  color: black;
  font-size: 25px;
  text-align: center;
  padding-left: 15%;
}

.portfolioTextContainer {
}

.rightSide {
    padding-right: 7.5%;
    text-align: right;
}

.leftSide {
    padding-left: 7.5%;
    text-align: left;
}

.portfolioRow {
    display: table;
}

.cell {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.test { 

 }

.middle {
  transition: .5s ease;
  position: absolute;
  top: 8px;
  left: 16px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 3px solid red;
  opacity: 0;
}

.imgTitle {
    position: absolute;
    top: 5%;
    left: 0;
    width: 95%;
    padding-left: 7%;
    opacity: 0;
    color: white;
}

.caption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 95%;
    padding-left: 5%;
    font-size: 18px;
    opacity: 0;
    color: white;
}

.documentContainer:hover .portfolioImage { 
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); 
    opacity: .4;
 }

.documentContainer:hover .imgTitle{
  opacity: 1;
}

.documentContainer:hover .caption{
  opacity: 1;
}

.documentContainer {
    position: relative;
}

.hoverText {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-left: 15%;
  border: 3px solid #73AD21;
}

.thumbnail {
    position: relative;
}

.btn-send {
    background: #D84830;
    color: white;
    border-color: #D84830;
}

hr {
    border-top: 1px solid #D84830;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 3%;
    margin-top: 3%;

}

img { 
    width: 100%;
 }

 .form-control{
    background-color: lightgrey;
    color: whitesmoke;
 }

.btn-send:hover{
    background-color: white;
    border-color: white;
    color: black;
 }
.form-control::-webkit-input-placeholder { color: black; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: black; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #D84830; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #D84830; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #D84830; }  /* Microsoft Edge */


.mrkayo-main-title {
  text-align: center;
  padding-bottom: 60px;
}
.mrkayo-main-title h2 {
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.mrkayo-main-title h2 .kayo-line {
  display: block;
  width: 100%;
  margin: 15px auto 10px;
  position: relative;
  border-bottom: 2px solid #FFF;
}
.mrkayo-main-title h2 .kayo-line:after, .mrkayo-main-title h2 .kayo-line:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}
.mrkayo-main-title h2 .kayo-line:after {
  right: -15px;
  bottom: -8px;
}
.mrkayo-main-title h2 .kayo-line:before {
  left: -15px;
  bottom: -8px;
}


/* 7. Resume
================================= */
.resume .kayo-container {
  padding-top: 90px;
  padding-bottom: 75px;
}

/* 7.1 Resume Introduction */
.resume .kayo-intro-section {
  background: url("../images/skills.jpg") center center no-repeat fixed;
  background-size: cover;
}

/* 7.2 Education & Experience */
.education-workHistory .timeline-title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
  right: 9px;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.education-workHistory .timeline-title i {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.education-workHistory .timeline-title span {
  vertical-align: middle;
}
.education-workHistory .timeline-content {
  padding: 40px 0;
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
}
.education-workHistory .timeline-content:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 11px;
  border: 3px solid darkgrey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.education-workHistory .timeline-content .timeline-box {
  margin-bottom: 30px;
}
.education-workHistory .timeline-content .timeline-box:last-child {
  margin-bottom: 0;
}
.education-workHistory .timeline-content .timeline-box .timeline-date {
  border: 3px solid darkgrey;
  box-sizing: content-box;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.education-workHistory .timeline-content .timeline-box .timeline-date:before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #D84830;
  background-color: #D84830;
  transform: rotate(45deg);
  left: -2px;
}
.education-workHistory .timeline-content .timeline-box .timeline-info {
  border: 3px solid darkgrey;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.education-workHistory .timeline-content .timeline-box .timeline-info .timeline-info-header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid darkgrey;
}
.education-workHistory .timeline-content .timeline-box .timeline-info .timeline-info-header h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}
.education-workHistory .timeline-content .timeline-box .timeline-info .timeline-info-header p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}
.education-workHistory .timeline-content .timeline-box .timeline-info .timeline-info-details p {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
}

.take-my-resume {
  margin: 30px 0;
  text-align: center;
}

.kayo-icon-list-box {
  text-align: center;
  position: relative;
  padding-top: 60px;
}
.kayo-icon-list-box .kayo-icon-box-container {
  position: absolute;
  top: 0;
  width: 100%;
}
.kayo-icon-list-box .kayo-list-info {
  padding: 60px 15px 15px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.kayo-icon-list-box .kayo-list-info h4 {
  font-size: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 20px 0 13px;
  font-weight: 600;
}
.kayo-icon-list-box .kayo-list-info p {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  position: relative;
  top: 50px;
}
.kayo-icon-list-box:hover .kayo-list-info p {
  opacity: 1;
  top: 0;
}